extends admin

block details

    .center-login
        h1 Añadir nuevo padre de familia
        form(id='addCat', action='/admin/padres/add', method='POST')
            .txt_field
                input(type='text', id='name', name='name', required=true)
                span
                label Nombre completo
            input(type='submit', value='Añadir padre de familia')
            br
            br
    br
    br