extends admin

block details

    .row
        form(action='/admin/cat/add', method='GET')
            button.btn.btn-default(type='submit', class="btn btn-success")
                i.fa.fa-plus
                = ' Añadir nuevo grupo'
        br

    h2 Grupos
    

    table.content-table
        
        thead
            tr
                td Nombre del grupo
                td    

        tbody
            each category in categories
                tr
                    td= category.CategoryName
                    td
                        form.dev-form(action='/admin/cat/' + category.CategoryID + '/edit', method='GET')
                                button.btn.btn-default(type='submit', class="btn btn-info")
                                    i.fa.fa-edit
                                    = ' Editar'


                        form.dev-form(action='/admin/cat/' + category.CategoryID + '/delete', method='POST')
                                button.btn.btn-default(type='submit', class="btn btn-danger")
                                    i.fa.fa-trash-o
                                    = ' Eliminar'






