extends admin

block details
    .row
        form(action='/admin/padres/add', method='GET')
            button.btn.btn-default(type='submit', class="btn btn-success")
                i.fa.fa-plus
                = ' Añadir nuevo padre de familia'
        br

    h2 Padres de familia

    table.content-table
        
        thead
            tr
                td Nombre completo
                td Foto
                td    

        tbody
            each padre in padres
                tr
                    td= padre.PadreNombre
                    td 
                        img(src='data:image/png;base64,' + padre.PadreFoto, style="width:100px;")
                    td
                        form.dev-form(action='/admin/padres/' + padre.PadreID + '/edit', method='GET')
                                button.btn.btn-default(type='submit', class="btn btn-info")
                                    i.fa.fa-edit
                                    = ' Editar'


                        form.dev-form(action='/admin/padres/' + padre.PadreID + '/delete', method='POST')
                                button.btn.btn-default(type='submit', class="btn btn-danger")
                                    i.fa.fa-trash-o
                                    = ' Eliminar'
        br
    br
    br






