extends admin

block details

    form(action='/admin/products/add', method='GET')
        button.btn.btn-default(type='submit', class="btn btn-success")
            i.fa.fa-plus
            = ' Añadir nuevo producto'
            
    .row
        .features_items
            if products
                each product in products
                    .row
                        .col-sm-3
                            .product-image-wrapper
                                .single-products
                                    .productinfo.text-center
                                        img(src=product.Image, alt=product.ProductName)
                        .col-sm-6
                            h2.cat= product.ProductName

                            p= product.Description

                            p
                                b Categoría:
                                = ' ' + product.CategoryName

                            p
                                b Unidades en Stock:
                                = ' ' + product.UnitsInStock
                            p
                                b Año de lanzamiento:
                                = ' ' + product.ManufactureYear

                            p
                                b Precio:
                                = ' $' + product.ProductPrice

                            - var feature = 'Si'
                            if (product.Feature == 0)
                                - feature = 'No'
                            p
                                b Mostrar producto como disponible:
                                = ' ' + feature



                        .col-sm-3
                            form.dev-form(action='/admin/products/' + product.ProductID + '/edit', method='GET')
                                button.btn.btn-default(type='submit', class="btn btn-info")
                                    i.fa.fa-edit
                                    = ' Editar'

                            form.dev-form(action='/admin/products/' + product.ProductID + '/delete', method='POST')
                                button.btn.btn-default(type='submit', class="btn btn-danger")
                                    i.fa.fa-trash-o
                                    = ' Eliminar'
    
    br
    br