extends info

block details
    section#form
        //form
        .container
                    .center-login
                        h1 Cambiar contraseña
                        form(id='changePassword', action='/usr/' + customer.Username + '/change-password', method='POST')
                            .txt_field
                                input(type='password', id='current-password', name='currentPassword', required=true)
                                span
                                label Contraseña actual
                            .txt_field
                                input(type='password', id='new-password', name='newPassword', required=true)
                                span
                                label Nueva Contraseña
                            .txt_field
                                input(type='password', id='confirm-password', name='repeatPassword', required=true)
                                span
                                label Confirmar nueva Contraseña
                            input(type='submit', value='Actualizar contraseña')
    ///form
