extends ../layout

block content
    section
        .container
            .row
                //title here. no duplicate
                //if navList
                .col-sm-3
                    // nav-bar
                    .left-sidebar
                        #accordian.panel-group.category-products
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a(href='/usr/' + customer.Username) Información personal
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a(href='/usr/' + customer.Grupo + '/orders') Alumnos inscritos en el grupo
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a(href='/usr/' + customer.Grupo + '/asistencia') Asistencia diaria
                            
                    ///nav-bar
                .col-sm-9
                    .blog-post-area
                        .single-blog-post
                            block details