extends layout

block content
    
    #contact-page.container
        .bg
            .row
                .col-sm-12
                    h2.title.text-center
                        | Ponte en contacto con el equipo de 
                        strong= ' Face 2 Pick Up'
            .row
                .col-sm-8
                    .contact-form
                        h2.title.text-center Contactanos
                        .status.alert.alert-success(style='display: none')
                        form#main-contact-form.contact-form.row(action='/contact-us', method='POST')
                            if customer
                                .form-group.col-md-6
                                    input.form-control(type='text', name='fullName', value=customer.FullName, required='required', placeholder='Nombre', disabled)
                                .form-group.col-md-6
                                    input.form-control(type='email', name='email', value= customer.Email, required='required', placeholder='Email', disabled)
                            else
                                .form-group.col-md-6
                                    input.form-control(type='text', name='fullName', required='required', placeholder='Nombre')
                                .form-group.col-md-6
                                    input.form-control(type='email', name='email', required='required', placeholder='Email')
                            .form-group.col-md-12
                                input.form-control(type='text', name='subject', required='required', placeholder='Asunto')
                            .form-group.col-md-12
                                textarea#message.form-control(name='contactMessage', required='required', rows='8', placeholder='Mensaje')
                            .form-group.col-md-12
                                input.btn.btn-primary.pull-right(type='submit', name='submit', value='Enviar')
                .col-sm-4
                    .contact-info
                        h2.title.text-center Información de contacto
                        address
                            p Face 2 Pick Up Website.
                            p Ubicación:
                            p Ubicación:
                            p Mobile: 
                            p Email: 
                        