extends layout

block content
    br
    br
    br
    br
    br
    br
    section#form
        //form
        .container
                    .center-login
                        h1 Iniciar Sesión
                        form(id='sign-in', action='/sign-in', method='POST')
                            .txt_field
                                input(type='text', required='true', name='username', maxlength="28")
                                span
                                label Usuario
                            .txt_field
                                input(type='password', required='true', name='password', maxlength="28")
                                span
                                label Contraseña
                            //- .pass ¿Olvidaste tu  Contraseña?
                            br
                            input(type='submit', value='Login')
                            br
                            br
                            br
                            br
                            br
                    br
    br

    ///form